<input type="hidden" name="desc" value="&{dataset}; Interpolated" />
<input type="radio" name="itype" value="nearest" checked="true"> Nearest neighbour<BR>
<input type="radio" name="itype" value="linear"> Linear<BR>
<input type="radio" name="itype" value="nspline"> Natural spline<BR>
<input type="radio" name="itype" value="cspline"> Cubic spline<BR>
<input type="radio" name="itype" value="divided"> Newton divided difference<BR><BR>

Sample rate: <input type="text" name="isamplerate" value="1.0"><BR>

