<table cellpadding="2" cellspacing="2" border="0" width="100%">
     <tbody>
       <tr align="center">
         <td valign="top">GDMS %dataset%<br>
         </td>
       </tr>
       <tr>
         <td valign="top">                     
      <table cellpadding="2" cellspacing="2" border="0" width="100%">
           <tbody>
             <tr>
               <td valign="top">Menu:<br>
               </td>
               <td valign="top">Message of the Day:<br>
               </td>
             </tr>
             <tr>
               <td valign="top">%commands%<br>
               </td>
               <td valign="top">%motd%<br>
               </td>
             </tr>
                             
        </tbody>                     
      </table>
         </td>
       </tr>
   <tr>
   <td valign="top"> &nbsp;</td>
   </tr>
    <tr align="center">
      <td valign="top"><small><i><b>GDMS</b></i> is Copyright 2002 Michael
Still, Kristy van der Vlist, Blake Swadling, Nick Wheatstone, and Daniel
Fernandez<br>
      <i><b>GDMS web</b></i> is Copyright 2002 Michael Still<br>
All source is released under the terms of the GNU GPL</small><br>
      </td>
    </tr>
           
  </tbody>   
</table>
