<table bgcolor="CCCCCC" width="100%">
<tbody>
<tr>
<td>&nbsp;</td>	
<td>&nbsp;</td>	
<td>&nbsp;</td>	
<td>&nbsp;</td>	
</tr>

<tr>
<td><div align="center"><font size="+8" color="#FF5533"><b>G</b></font></div></td>
<td><div align="center"><font size="+8" color="#FF5533"><b>D</b></font></div></td>
<td><div align="center"><font size="+8" color="#FF5533"><b>M</b></font></div></td>
<td><div align="center"><font size="+8" color="#FF5533"><b>S</b></font></div></td>
</tr>
</tbody>
</table>

<table bgcolor="CCCCCC" width="100%">
<tbody>
<tr>
<td>
<div align="center"><font size="+2" color="#FF5533"><b>%dataset%</b></div>
</td>
</tr>
</tbody>
</table>

<table cellpadding="2" cellspacing="2" border="0" width="100%" bgcolor="CCCCCC">
     <tbody>
       <tr>
         <td valign="top">                     
      <table cellpadding="2" cellspacing="2" border="0" width="100%">
           <tbody>
	   <tr><td>&nbsp;</td></tr>

             <tr>
               <td valign="top" bgcolor="#444444" width="10%">
	       <div align="center"<font color="#FFFFFF"><b>Menu:</b></font></div>
               </td>
               <td valign="top" bgcolor="#444444">
	       <div align="center"<font color="#FFFFFF"><b>Select one of these datasets:</b></font></div>
               </td>
             </tr>
             <tr>
               <td valign="top"><table width="100%">%commands%</table><br>
               </td>
               <td valign="top">%datasets%<br>
               </td>
             </tr>
                             
        </tbody>                     
      </table>
         </td>
       </tr>
   <tr>
   <td valign="top"> &nbsp;</td>
   </tr>
    <tr align="center">
      <td valign="top" bgcolor="#444444"><font color="#FFFFFF"><small>
<i><b>GDMS</b></i> is Copyright 2002 Michael Still, Kristy van der Vlist, Blake Swadling, Nick Wheatstone, and Daniel Fernandez<br>

<i><b>GDMS web</b></i> is Copyright 2002 Michael Still. 
All source is released under the terms of the GNU GPL</small></font><br>
      </td>
    </tr>
           
  </tbody>   
</table>
