<input type="hidden" name="desc" value="&{dataset}; Windowed" />
<input type="radio" name="wtype" value="rectangular" checked="true"> Rectangular<BR>
<input type="radio" name="wtype" value="hamming"> Hamming<BR>
<input type="radio" name="wtype" value="hanning"> Hanning<BR>
<input type="radio" name="wtype" value="blackman"> Blackman<BR>
<input type="radio" name="wtype" value="chebyshev"> Chebyshev<BR><BR>

Window size: <input type="text" name="wsize" value="128"><BR>
Window overlap: <input type="text" name="woverlap" value="64"><BR>

