body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-image: url(/images/intl_bkg.jpg);
    background-repeat: repeat-x;
    background-position: center top;
    letter-spacing: normal;
    text-align: center;
    vertical-align: top;
    word-spacing: normal;
    white-space: normal;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    color: #000000;
    background-color: #ffffff;
    cursor: default;
    page-break-before: auto;
    page-break-after: auto;
    direction: ltr;
/*  clip:  rect(   ) */
    }

#Page {
    width: 750px;
    text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
#Login {
    text-align: center;
}
#Sections {
        font-weight: bold;
    height: 45px;
    }

#SectionTitle {
    text-align: left;
    }
#SectionTitle h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    }
.SepBar {
    font-weight: bold;
    font-size: 150%;
    }
.MainTable  {
    width: 750px;
    font-size: 12px;
    }

    
.NavigationColumn {
    width: 170px;
    background-image: url(/images/nav_bkg1.jpg);
    text-align: left;
    vertical-align: top;
    padding-top: 15px;
    padding-left: 5px;
    }    
.SeparationColumn {
    width: 30px;
    vertical-align: top;
    background-image: url(/images/intl_line.jpg);
    }
.ContentColumn {
    vertical-align: top;
    text-align: left;
    }
.ContentColumn ul li {
    margin-bottom: 10px;
    }
.IconColumn {
    width: 16px;
    vertical-align: top;
    text-align: center;
    }
.SponsorColumn {
    width: 150px;
    vertical-align: top;
    text-align: center;
    }
.SponsorColumn hr {
    height: 0px;
    width: 150px;
    border-color: #346667;
    border-width: 1px;
    }
.LanguageTitle {
    font-weight: bold;
    color: #333399;
    }
.NewsData {
    font-style: italic;
    font-size: 10px;
    }
.EventData {
    font-size: 10px;
    }
.FooterTable    {
    width: 750px;
    font-size: 12px;
    }
.FooterLeftColumn {
    vertical-align: top;
    text-align: left;
    width: 60%;
    font-size: 10px;
    }
.FooterRightColumn {
    text-align: right;
    }
.HeaderTable    {
    width: 750px;
    font-size: 12px;
    }
.HeaderLeftColumn {
    vertical-align: middle;
    text-align: left;
    width: 50%;
    }
.HeaderRightColumn {
    vertical-align: middle;
    text-align: right;
    }
.RequiredField {
    color: red;
    }
.FormDetails {
    font-size: 80%;
    }
.BlueBox {
        background-image: url(/images/box2.jpg);
        vertical-align: top;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }
.StepEmphasis {
    background: #C5E2DC;
    margin-left: 5px;
    width: 75%;
    padding: 3px;
    }

.IdiotEmphasis {
    background: red;
    margin-left: 5px;
    width: 75%;
    padding: 3px;
    }

a:link {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #333399
    }
a:visited {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #333366
    }
a.nav:link {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #333399
    }
a.nav:visited {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #333366
    }
a.nav:hover {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    text-decoration: none;
    color: #333399
    }
a.nav:active {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #333366
    }       
a.nav2:link {
    font-size: 11px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #333399
    }
a.nav2:visited {
    font-size: 11px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #333366
    }
a.nav2:hover {
    font-size: 11px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    text-decoration: none;
    color: #333399
    }
a.nav2:active {
    font-size: 11px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #333366
    }    
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
    color: #333399
    }
h2 {    
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    color: #336666
    }
h3 {    
    font-size: 16px;
    font-style: italic;
    color: #336666
    }
hr {    
    border-color: #336666 black black;
    border-style: solid;
    border-top-width: 1pt;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin
    }
h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #336666
    }
h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: normal;
    font-weight: bold;
    color: #333399
    }
h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #336666
 }

img.WithoutBorder {
    border-style: none;
}
.Centered {
    text-align: center; 
}
.Indented {
   margin-left: 10%;
}

}
.Nav_Indented {
   margin-left: 3%;
}
table.Centered {
   margin-left: auto;
   margin-right: auto;
    text-align: center; 
}

tr.AdvisoryLine {
     background: url("images/btm_line.jpg");
}
tr.AdvisoryLine td {
   vertical-align: top;
   height: 10px;
}

td.AdvisoryName {
     vertical-align: top;
     width: 29%;
     height: 21px;
     font-weight: bold;
}
td.AdvisoryCompany {
     vertical-align: top;
     width: 34%;
     height: 21px;
}
td.AdvisoryTitle {
     width: 37%;
     height: 21px;
     font-size: .8em;
     font-style: italic;
}
td.Spacer {
   width: 20%;
}
tr.LogoHeader {
   background-color: #cccccc;
}
td.LogoThumb {
     width: 28%;
     height: 25px;
}
td.LogoDownload {
     width: 12%;
}
td.InternationalFlags {
     width: 24%;
     height: 54px;
}
.LATMProducts {
     font-size: 200%;
}
.SmallFont {
     font-size: 85%;
}
td.GlossaryTd {
     vertical-align: top;
}
.Code {
   font-family: Courier New, Courier, mono;
}
.Topic {
   color: #336666;
}

/* LPI History page */
.HistoryDate {
   color: #336666;
}
.HistoryEvent {
   margin-left: 5%;
}


/* Training Partner form is in it's own div to get layout to work */

.TrainingPartnerEmphasis {
   color: #669999;
}

#TrainingPartnerDiv td.headings {
                width: 650;
                height: 20;
                background: #669999;
                color: white;
                font-size: 10pt;
}

#TrainingPartnerDiv table {
                text-align: left;
                width: 70%;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size: 10pt;
                color: black;
}
.UserBar {
	text-align: left;
}
